body {
    background-color:#FFF9F0;
	background-size: cover;
	color: rgba(41, 39, 39, 1);
}
#id1 {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 30%;
    height: 100%;
    background-color:pink;
}
#id2 {
    position: relative;
    padding:10px;
    font-family: Arial, sans-serif;
}
.class1{margin-top:65%;}
.class1>H1:hover{ color: white;
font-family:'Quicksand', sans-serif;
}
.class1>p:hover{ color: white;}
.class2{
	width:70%;
	margin-left:30%;
	font-family:"Comic Sans MS", cursive, sans-serif ;
	text-align: center;
}
.class2:hover {
    font-size: 30px;
}
.class3{
	background-color:rgba(214, 191, 191, 0.3);
	width:70%;
	height:200px;
	margin-left:30%;
	margin-top:50px;
	text-align: left;
}
.class3:hover{background-color:rgba(214, 191, 191, 1)}
 li{
	list-style-type: none;
	line-height: 1.6;
	font-family: 'Quicksand', sans-serif;	
}
.cl{
	float:left;
	margin-right:5em;
}
.class4{
	background-color:rgba(214, 191, 191, 0.3);
	width:70%;
	margin-left:30%;
	margin-top:50px;
	height:200px;
	text-align:right;
}
.class4:hover{background-color:rgba(214, 191, 191, 1)}
.cl1{
	float:right;
	margin-left:5em;
 }
.class5{
	background-color:rgba(214, 191, 191, 0.3);
	width:70%;
	margin-left:30%;
	margin-top:50px;
}
table{
	width:90%;
	margin: auto;
}
 td {
text-align: center;
}
H2{text-align: center;}
form{ 
	text-align: center;
}
input{
    width: 50%;
    padding: 5px 15px;
}